<div class="container list-display" style="margin-top: 160px;">
    <div class="row">
        <div class="col-md-10">
            <div class="card detail-card bg-light" style="margin-bottom: 40px; padding: 40px">
                <div class="row no-gutters">
                    <!-- <div class="col-auto"> -->
                    <div class="col-md-4">
                        <img class="img-fluid" src=""  style="width: 300px; height: 250px" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-block px-4">
                            <h3 class="card-title mt-0 font-weight-bold text-uppercase">
                                {{recipeData.title}}  
                            </h3>
                            <p class="card-text">By 
                                <b> author  </b>
                            </p>
                            <hr />
                            <h4 class="price-list mt-0"><b> 50</b></h4>
                            <p class="h6"> <b>Published On: </b> date </p>
                                                                                   
                            
                                <a href="#" class="btn btn-danger buy-btn"> Add to cart</a>

                           
                            <div>
                                                        
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters mt-5">
                    <h4> About </h4>
                    <p> abouttt </p>
                </div>
                
            </div>
    </div>
</div>
</div>
