<section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image-2" style="background: url(../../../assets/images/about-banner.png) no-repeat;">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1 style="padding-top: 40px;">
                             My Recipes
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

    <div class="container list-display" style="margin-top: 100px ;">
    
    <div class="row">
       
        <div  class="col-md-3">
            <div class="card mb-4 p-0">
                <a href="">
                    <img class="card-img-top" src="" alt="Card image" style="width:100%; height:300px">
                </a>
                <div class="card-body">           
                    <a class="text-dark" href="" style="text-decoration: none;"> 
                        <h4 class="card-title">
                            recipe 1
                        </h4> </a>
                    <span>
                        <h4 class="text-danger">  </h4> 
                        <!-- <h4> <?php echo $book['quantity'] ?> </h4> -->
                    </span>
                    <p class="card-text"> 
                        desc
                    </p>
                   

                 

                        <a href="#" class="btn btn-danger" >Edit</a>                    
                </div>             
            </div>
        </div>
       
    </div>

</div>

