<section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image-2" style="background: url(../../../assets/images/about-banner.png) no-repeat;">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1 style="padding-top: 40px;">
                                My Recipes
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="container list-display" style="margin-top: 70px ;">
    <div class="row mb-5 justify-content-center align-items-center">
        <div class="col-md-6"></div>
        <div class="col-md-6 " style="text-align:right ">
            <button class="btn btn-primary btn-lg" routerLink="/user/recipe-add" style="background: #78051a"> 
                Add Recipe</button>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3" *ngFor="let recipe of recipes">

            <div class="card mb-4 p-0">
                <a href="user/my-recipe-edit/{{recipe._id}}">
                    <img class="card-img-top" src="{{recipe.image_url}}" alt="Card image" style="width:100%; height:250px">
                </a>
                <div class="card-body">
                    <a class="text-dark" href="cust-layout/my-recipe-edit/{{recipe._id}}" style="text-decoration: none;">
                        <h4 class="card-title">
                            {{recipe.title}}
                        </h4>
                    </a>
                    <span>
                        <h6 class="text-danger"> {{recipe.category}} </h6> 
                        <!-- <h4> <?php echo $book['quantity'] ?> </h4> -->
                    </span>
                    <span class="rating orange">
                        <img class="mr-1 mt--3px" src="../../assets/images/star.svg" alt="Veg">
                        {{recipe?.rating}}
                    </span>
                    <!-- <span class="float-right">
                        <img class="ml-1" src="../../assets/images/veg.svg" alt="Veg" *ngIf="recipe.meal_type == '0'">
                        <img class="ml-1" src="../../assets/images/non-veg.svg" alt="Non Veg" *ngIf="recipe.meal_type == '1'">
                    </span> -->

                    <p class="card-text">

                    </p>
                    <span class="btn btn-danger" style="float: right; margin-left: 10px;" (click)="deleteRecipe(recipe._id)"><i class="fa fa-trash"> </i></span>
                    <a href="user/my-recipe-edit/{{recipe._id}}" class="btn btn-danger" style="float: right;background: #343a40; border-color:#343a40"><i class="fa fa-edit"> </i></a>

                </div>
            </div>
        </div>

    </div>

</div>