<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0px;">
    <div class="container-fluid"><a class="navbar-brand" href="/">Capstone Project</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">HOME <span class="sr-only"></span></a></li>
                <li class="nav-item"><a class="nav-link" href="">ABOUT</a></li>
                <li class="nav-item"><a class="nav-link" href="">LIST</a></li>
                <li class="nav-item"><a class="nav-link" href="">CREATE</a></li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between"></section>
        <section>
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 font-weight-bold">
                            CapstoneProject
                        </h6>
                        <p style="text-align:left">
                            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.    
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 font-weight-bold">Products</h6>
                        <p><a class="text-reset" href="/">Home</a></p>
                        <p><a class="text-reset" href="">About</a></p>
                        <p><a class="text-reset" href="">List</a></p>
                        <p><a class="text-reset" href="">Create</a></p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 font-weight-bold">Useful links</h6>
                        <p><a class="text-reset" href="#">Cart</a></p>
                        <p><a class="text-reset" href="#">Settings</a></p>
                        <p><a class="text-reset" href="#">Orders</a></p>
                        <p><a class="text-reset" href="#">Help</a></p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Waterloo, Canada</p>
                        <!-- <p><i class="fas fa-envelope me-3"></i> info@thebookculture.com</p> -->
                        <p><i class="fas fa-phone me-3"></i> + 1 004 167 5811</p>
                    </div>
                </div>
            </div>
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">&copy; 2021 Copyright:<a class="text-reset fw-bold" href="/">TheBookCulture</a></div>
        </section>
    </footer>


