<section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image-2" style="background: url(../../../assets/images/about-banner.png) no-repeat;">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1 style="padding-top: 40px;">BMI Calculator</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="bmi-calculator">
    <div class="container">
        <div class="card w-75">
            <div class="card-header">
                <h3>BMI Calculator</h3>
            </div>
            <div class="card-body">
                <form id="bmi-calculator-form" #bmiCalculatorForm="ngForm">
                    <div class="row py-2">
                        <label for="age" class="col-sm-3 col-form-label">Age</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="age" name="age" placeholder="Age" [(ngModel)]="bmiData.age" required #age="ngModel" min="2" max="120">
                            <div *ngIf="bmiCalculatorForm.submitted || age.touched">
                                <div *ngIf="age.errors?.['required']" class="text-danger">
                                    Age is required.
                                </div>
                                <div *ngIf="age.errors?.['min']" class="text-danger">
                                    Age must be greater than 2.
                                </div>
                                <div *ngIf="age.errors?.['max']" class="text-danger">
                                    Age must be less than 120.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="py-2">
                            <div class="form-outline ">
                                <div class="d-md-flex justify-content-start align-items-center mb-2 ">
                                    <label class="col-sm-3" style="padding-left: 0;">Gender </label>
                                    <div class="col-sm-9" style="padding-left: 0px;">
                                        <div class="form-check form-check-inline mb-0 me-4 ">
                                            <input class="form-check-input " type="radio" [(ngModel)]="bmiData.gender" name="gender " id="femaleGender " value="female" required #gender="ngModel" />
                                            <label class="form-check-label " for="femaleGender ">Female</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4 ">
                                            <input class="form-check-input " type="radio" [(ngModel)]="bmiData.gender" name="gender " id="maleGender " value="male" required #gender="ngModel" />
                                            <label class="form-check-label " for="maleGender ">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 ">
                                            <input class="form-check-input " type="radio" [(ngModel)]="bmiData.gender" name="gender " id="otherGender " value="other" required #gender="ngModel" />
                                            <label class="form-check-label " for="otherGender ">Other</label>
                                        </div>
                                        <div *ngIf="bmiCalculatorForm.submitted || gender.touched">
                                            <div *ngIf="gender.errors?.['required']" class="text-danger">
                                                Gender is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <label for="height " class="col-sm-3 col-form-label ">Height</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control " [(ngModel)]="bmiData.height" id="height " name="height " placeholder="Height in cm" required #height="ngModel">
                            <div *ngIf="bmiCalculatorForm.submitted || height.touched">
                                <div *ngIf="height.errors?.['required']" class="text-danger">
                                    Height is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <label for="weight" class="col-sm-3 col-form-label ">Weight</label>
                        <div class="col-sm-9 ">
                            <input type="number " class="form-control " [(ngModel)]="bmiData.weight" id="weight " name="weight " placeholder="Weight in kg" required #weight="ngModel">
                            <div *ngIf="bmiCalculatorForm.submitted || weight.touched">
                                <div *ngIf="weight.errors?.['required']" class="text-danger">
                                    Weight is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <label for="weight" class="col-sm-3 col-form-label ">Are you active?</label>
                        <div class="col-sm-9 ">
                            <select class="form-control form-select form-select-lg mb-3" [(ngModel)]="bmiData.activity" name="activity" id="activity" #activity="ngModel" required>
                                <option  value="sedentary" style="color:black;">Sedentary(little or no exercise)</option>
                                <option  value="lightly" style="color:black;">Lightly active (light exercise 1-3 days/week)</option>
                                <option  value="moderately" style="color:black;">Moderately active (moderate exercise/sports 3-5 days/week)</option>
                                <option  value="hard" style="color:black;">Hard exercise 6-7 days a week</option>
                                <option  value="extra" style="color:black;">Very hard exercise or a physical job"</option>
                              </select>
                            <div *ngIf="bmiCalculatorForm.submitted || activity.touched">
                                <div *ngIf="activity.errors?.['required']" class="text-danger">
                                    Activity is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col text-center ">
                            <button type="submit" id="btn-calculate " class="btn btn-primary " (click)="calculateBMI() ">Calculate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card w-75 bmi-result" *ngIf="bmiData.is_calculated">
            <div class="card-body">
                <div class="row">
                    <h3 class="col-md-8">BMI = {{bmiData.bmiResult.bmi_value}} kg/m2 </h3>
                    <h3 class="col-md-4 text-{{bmiData.bmiResult.bmi_status}} ">{{bmiData.bmiResult.bmi_category}}</h3>
                </div>
                <div class="instructions">
                    <!-- <h5>Instructions</h5> -->
                    <div class="instruction-result">
                        <div *ngIf="bmiData.age >2 && bmiData.age<20; else elseBlock">
                            <li>
                                <label *ngIf="bmiData.gender =='female'; else elseBlock2">Healthy BMI range : 14.2 - 18.2 kg/m2</label>
                                <ng-template #elseBlock2>
                                    <label>Healthy BMI range : 14.8 - 19.2 kg/m2</label>
                                </ng-template>
                            </li>
                        </div>
                        <ng-template #elseBlock>
                            <ul>
                                <h5>Healthy BMI range : 18.5 kg/m2 - 25 kg/m2</h5>
                            </ul>
                            <!-- <li>
                                <label>Healthy weight for the height : {{bmiResult.normal_min_weight}} kgs - {{bmiResult.normal_max_weight}} kgs</label>
                            </li> -->
                            <ul>
                                <h5>BMR = {{bmiData.bmiResult.bmr_value}} kcal</h5>
                            </ul>
                            <ul>
                                <h5>Calorie = {{bmiData.bmiResult.calories}} kcal</h5>
                            </ul>
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4">
                                    <button type="button" id="btn-recipe " class="btn btn-primary " (click)="getRecipesByBMI() ">Get Your Healthy Recipies</button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <section class="xs_section">
                    <div class="container">
                        <div class="why-choose-section">
                            <h4 class="text-uppercase mt-5">Disclaimer</h4>
                            <!-- <p class="text-text fs-15 fw-sbold">cooking is beautiful and wonderful art when the recipe is Healthy</p> -->
                            <div class="why-choose">
                                <div class="row">
                                    <div class="col-md-12 mb-12 mb-md-0">
                                        <p class="shape-name">
                                            BMI is useful for establishing guidelines of health related risks for healthy adults between the age of 20 and 65 years old. It does not apply to infants, children, adolescents, pregnant women, breastfeeding mothers, and seniors over the age of 65.
                                            <br><br> BMI is not recommended to be the only diagnostic tool or measurement for body composition and fitness. Other factors must be considered in order to determine if a certain BMI is associated with an increased
                                            risk for health or nutritional problems.
                                        </p>
                                    </div>
                                </div>
                                <li style="padding-top: 10px;">
                                    <a href="https://www.omnicalculator.com/health/bmr-harris-benedict-equation" style="text-decoration: none;color: #868996;" target="_blank">
                                        https://www.omnicalculator.com/health/bmr-harris-benedict-equation
                                    </a>
                                </li>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>