<div class="random-recipe">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" *ngFor="let recipe of allRecipes">
            <div class="carousel-item" [class.active]="randomRecipe._id === recipe._id">
                <div class="card" style="height: 20rem;">
                    <div class="row">
                        <div class="col-md-6" style="max-height: 20rem;"><img src="{{randomRecipe.image_url}}" alt="..." class="img-fluid"></div>
                        <div class="col-md-6" style="max-height: 20rem;">
                            <div class="card-body d-flex align-items-center justify-content-center h-100 flex-column">
                                <h3 class="card-title fw-bold text-uppercase mb-2">{{randomRecipe.title}}</h3>
                                <p class="card-text fw-light mb-2" *ngIf="randomRecipe.meal_type==='Vegetarian'">Veg</p>
                                <p class="card-text fw-light mb-2" *ngIf="randomRecipe.meal_type==='Non_Vegetarian'">Non-Veg</p>
                                <p class="card-text fw-light mb-2">{{randomRecipe.category}}</p>
                                <p class="card-text fw-light mb-4">{{randomRecipe.description}}</p>
                                <button class="btn btn-primary" routerLink="/user/recipe/{{randomRecipe?._id}}">View More</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" (click)="getRandomRecipe()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" (click)="getRandomRecipe()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- <section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image" style="background: url({{randomRecipe.image_url}}) no-repeat;">
                    </div>
                </div>
            </div>

        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1>{{randomRecipe.title}}</h1>
                            <p>{{randomRecipe.meal_type}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->