.recipe-data {
    /* margin-top: 100px;
    margin-bottom: 100px; */
    /* background: #f9f9f9; */
}

.searchbar {
    padding: 15px;
    border: none;
}

.searchdropdown {
    border: none;
    background: white;
    padding: 0px 30px;
    border-left: 1px solid #8080804d;
}

.searchbtn {
    background: #ff5f15;
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    color: white;
}

#meal_types_collapse {
    margin-bottom: 20px;
}

#category_collapse {
    margin-bottom: 20px;
}

.form-check-input {
    margin-top: 0.5rem;
}

#clear {
    width: 100%;
    margin-bottom: 10px;
}