<section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image-2" style="background: url(../../../assets/images/about-banner.png) no-repeat;">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1 style="padding-top: 40px;">See your healthy recipes</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="recipe-data">
    <div class="container">

        <section class="mt-5 mb-5">
            <div class="container">
                <div class="input-group shadow">
                    <input type="text" placeholder="Search Recipe" [(ngModel)]="filter.title" (ngModelChange)="searchForRecipes()" class="form-control searchbar">
                    <button class="btn btn-outline-secondary searchbtn" type="button" (click)="searchForRecipes()">Search</button>
                </div>
            </div>
        </section>


        <section class="mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-xs-12">
                        <button class="btn btn-outline-secondary searchbtn" type="button" (click)="clearAllFilters()" id="clear">Clear All Filters</button>
                        <div class="collapse-sec meal-type">
                            <p>
                                <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#meal_types_collapse" aria-expanded="false" aria-controls="collapseExample">
                                  Meal Type
                                </button>
                            </p>
                            <div class="collapse" id="meal_types_collapse">
                                <ul class="list-group" *ngFor="let meal of mealTypes; index as i;">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" [value]="meal.key" id="meal" name="meal_type" [(ngModel)]="filter.meal_type" (change)="searchForRecipes()">
                                            <label class="form-check-label" for="flexCheckDefault">{{meal.key}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="collapse-sec category">
                            <p>
                                <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#category_collapse" aria-expanded="false" aria-controls="collapseExample">
                                 Category
                                </button>
                            </p>
                            <div class="collapse" id="category_collapse">
                                <ul class="list-group" *ngFor="let category of categories; index as i;">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" [checked]="category.checked" [value]="category.key" id="flexCheckDefault" (change)="onChangeCategory($event.target,i)">
                                            <label class="form-check-label" for="flexCheckDefault">{{category.key}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="collapse-sec category">
                            <p>
                                <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#calories_collapse" aria-expanded="false" aria-controls="collapseExample">
                                 Calories
                                </button>
                            </p>
                            <div class="collapse" id="calories_collapse">
                                <ul class="list-group" *ngFor="let cal of caloriesRange; index as i;">
                                    <li class="list-group-item">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="cal.checked" [value]="cal.id" (change)="onChangeCalory($event.target,i)">
                                            <label class="form-check-label" for="flexCheckDefault">{{cal.start}} - {{cal.end}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-xs-12">
                        <app-recipe-data-list *ngIf="recipes.length > 0; else elseBlock" [recipes]="recipes"></app-recipe-data-list>
                        <ng-template #elseBlock>
                            <h3>No data found</h3>
                        </ng-template>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>