<section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image-2" style="background: url(../../../assets/images/about-banner.png) no-repeat;">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1 style="padding-top: 40px;">Know about us and our Journey all the way</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="xs_section">
    <div class="container">
        <div class="why-choose-section">
            <h2 class="text-uppercase mt-5">Who are we</h2>
            <p class="text-text fs-15 fw-sbold">cooking is beautiful and wonderful art when the recipe is Healthy</p>
            <div class="why-choose">
                <div class="row">
                    <div class="col-md-12 mb-12 mb-md-0">
                        <p class="shape-name">
                            We started our healthy recipes journey with an idea to publish our recipes that will help many in exploring what consists of what. Every food has a pros and cons, we help you find out.
                            <br><br> Simply said, home cooks are our role models. A community created by and for chefs, Allrecipes: Cooks who will spend two days perfecting a beef bourguignon dish but also enjoy the ease of a slow-cooker version. The
                            bakers who will happily modify boxed brownies for a delectable weeknight treat yet labour over a show-stopping 9-layer cake. The hosts who simply want a substantial snack buffet without having to spend the entire evening moving
                            dishes in and out of the oven.
                            <br><br> The main benefit of Slow cooker recipes is that it links home cooks with their biggest sources of inspiration: other home cooks. We strive to maintain the vitality of our community because we are the top digital food
                            brand in the world. No less is acceptable to the sixty million home chefs.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="aboutwe_banner">
    <div class="container">
        <h2 class="text-uppercase mt-5">Who are are to You</h2>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <hr>
                <ul class="ul_about">
                    <li>A Friend <span> - We are your best friend in the kitchen. </span></li>
                    <li>A Guide<span> - we will always share our best recipe at your need. </span></li>
                    <li>A Advisor<span> - An advise is always previous at right time and we are that </span></li>
                    <li>A Book<span> - Read us evryday to get an idea about us </span></li>
                    <li>A Teacher<span> - we are at your back to give you best ideas about recipes. </span></li>
                    <li>A Route<span> - We don't judge, but we like to dish about new ideas. </span></li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-12">
                <img class="img_about" src="../../../assets/images/handshake-img.png" />
            </div>
        </div>
    </div>
</section>

<section class="xs_section">
    <div class="container">
        <div class="why-choose-section">
            <h3 class="text-uppercase mt-5">Recipe Development & Testing</h3>
            <hr>
            <p class="text-text fs-15 fw-sbold">cooking is beautiful and wonderful art when the recipe is Healthy</p>
            <div>
                <div class="row">
                    <div class="col-md-12 mb-12 mb-md-0">
                        <p class="shape-name">
                            Although we prefer to utilise fresh, unprocessed ingredients in our recipes, we do think there are times when canned, frozen, and other prepared foods have their place. Authentic butter and cream, extra virgin olive oil, eggs, a broad variety of fruits
                            and vegetables, as well as protein-rich meals like meat, fish, beans, and cheese are all part of the diet we support. plus dessert of cake.
                            <br><br> When determining whether a recipe is suitable for inclusion on Just Recipes, we take into account three factors:
                            <br><br> The main benefit of Slow cooker recipes is that it links home cooks with their biggest sources of inspiration: other home cooks. We strive to maintain the vitality of our community because we are the top digital food
                            brand in the world. No less is acceptable to the sixty million home chefs.
                            <br><br> When determining whether a recipe is suitable for inclusion on Just Recipes, we take into account three factors:
                            <br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>