<!---header starts-->
<header class="header-fixed" style="background: #78051a;">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md" style="padding: 2px 0">
            <button class="navbar-toggler" type="button" data-target="#collapsibleNavbar">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                </svg> Menu
            </button>
            <a style="color: black;" routerLink="/cust-layout/home">
                <i class="fa fa-cutlery fa-flip" style='font-size:34px; color: #fff;'></i>
                <img height="80px" width="100px" src="../../assets/images/logo-recipe.png" class="img-fluic" alt="logo" />
            </a>
            <div class="navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="padding: 0 10px;">
                        <a class="nav-link" routerLink="/cust-layout/home" style="font-size: 20px;" routerLinkActive="active-link" >Home</a>
                    </li>
                    <li class="nav-item" style="padding: 0 10px;">
                        <a class="nav-link" routerLink="/cust-layout/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                            true}" style="font-size: 20px;">About</a>
                    </li>
                    <!-- <li class="nav-item" style="padding: 0 15px;">
                        <a class="nav-link" routerLink="/cust-layout/recipe-list" style="font-size: 20px;">Recipes</a>
                    </li> -->
                    <li class="nav-item" style="padding: 0 10px;">
                        <a class="nav-link" routerLink="/cust-layout/bmi" style="font-size: 20px;" routerLinkActive="active-link" >BMI</a>
                    </li>

                    <li class="nav-item dropdown" style="padding: 0 10px" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" style="font-size: 20px;" 
                        aria-haspopup="true" aria-expanded="false">
                          Recipe
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding: 15px; " >
                          <a class="dropdown-item" routerLink="/cust-layout/recipe-list" style="color: black;">Search Recipe</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" routerLink="/cust-layout/my-recipes" style="color: black;"> My Recipe</a>
                        </div>
                      </li>


                    <!-- <li class="nav-item" style="padding: 0 15px;">
                        <a class="nav-link" routerLink="/cust-layout/my-recipes" style="font-size: 20px;">My Recipes</a>
                    </li> -->
                    <li class="nav-item" style="padding: 0 10px;">
                        <a class="nav-link" routerLink="/cust-layout/shopping-list" style="font-size: 20px;" routerLinkActive="active-link" >Shopping List</a>
                    </li>
                    <li class="nav-item" style="padding: 0 10px;">
                        <a class="nav-link" routerLink="/cust-layout/nutritionists" style="font-size: 20px;" routerLinkActive="active-link" >Nutritionists</a>
                    </li>
                    <li class="nav-item" style="padding: 0 15px;">
                        <a class="nav-link" routerLink="/cust-layout/contact" style="font-size: 20px;" routerLinkActive="active-link" >Contact</a>
                    </li>

                    
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <button type="button" class="btn btn-nothing">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16">
                                    <g fill="none" fill-rule="evenodd" stroke="#868996" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="1.6" transform="translate(1 1)">
                                        <path
                                            d="M13 14v-1.556c0-1.718-1.455-3.11-3.25-3.11h-6.5c-1.795 0-3.25 1.392-3.25 3.11V14">
                                        </path>
                                        <ellipse cx="6.5" cy="3.111" rx="3.25" ry="3.111"></ellipse>
                                    </g>
                                </svg>
                            </button>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style=" float: left; padding-top: 10px; ">
                                <a class="dropdown-item" routerLink="/cust-layout/user-details" style="color: black;">Profile</a></li>
                            <li style=" float: left;  padding-top: 10px;">
                                <a class="dropdown-item" (click)="logout()" style="color: black;">Sign out</a></li>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="resp-menu">
                <div class="resp-close">
                    <button type="button" class="btn btn-nothing">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                            </path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </button>
                </div>
                <div class="resp-logo">
                    <a aria-current="page" class="active" href="/">
                        <h5 class="hedcls" style="color: #fff; font-size: 35px;">RecipeforYou.....!</h5>
                    </a>
                </div>
                <ul>
                    <li class="resp-li">
                        <a aria-current="page" class="active" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/cust-layout/recipe-list" style="font-size: 20px;">Recipes</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/cust-layout/bmi" style="font-size: 20px;">BMI</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/cust-layout/shopping-list" style="font-size: 20px;">Shopping List</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-nothing">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16">
                                <g fill="none" fill-rule="evenodd" stroke="#868996" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="1.6" transform="translate(1 1)">
                                    <path
                                        d="M13 14v-1.556c0-1.718-1.455-3.11-3.25-3.11h-6.5c-1.795 0-3.25 1.392-3.25 3.11V14">
                                    </path>
                                    <ellipse cx="6.5" cy="3.111" rx="3.25" ry="3.111"></ellipse>
                                </g>
                            </svg>
                            Signup / Login
                        </button>
                    </li>
                </ul>
                <div class="resp-logo">
                    <h5 class="text-uppercase text-grey">Contact us:</h5>
                    <p><a class="text-primary" href="mailto:info@recipes.com">info@recipeforyou.com</a></p>
                </div>
            </div>

        </nav>
    </div>
</header>
<!---header ends-->
<router-outlet></router-outlet>


<footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between"></section>
    <section>
        <div class="container text-left text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 font-weight-bold">RecipeForyou</h6>
                    <p style="text-align:left">
                        We started our healthy recipes journey with an idea to publish our recipes that will help many in exploring what consists of what. Every food has a pros and cons, we help you find out.
                    </p>
                </div>
                <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 font-weight-bold">Products</h6>
                    <p><a class="text-reset" href="user-home.php">Home</a></p>
                    <p><a class="text-reset" href="books.php">Books</a></p>
                    <p><a class="text-reset" href="cart-list.php">Cart</a></p>
                </div> -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 font-weight-bold">Useful links</h6>
                    <p><a class="text-reset" routerLink="/cust-layout/about" >About</a></p>
                    <p><a class="text-reset" routerLink="/cust-layout/bmi" >BMI</a></p>
                    <p><a class="text-reset" routerLink="/cust-layout/shopping-list" >Shopping List</a></p>
                    <p><a class="text-reset" routerLink="/cust-layout/recipe-list">Recipes </a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4 font-weight-bold">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Waterloo, Canada</p>
                    <p><i class="fas fa-envelope me-3"></i> info@recipeforyou.com</p>
                    <p><i class="fas fa-phone me-3"></i> + 1 004 167 5811</p>
                </div>
            </div>
        </div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">&copy; 2021 Copyright:<a class="text-reset fw-bold" href="/">RecipeForYou</a></div>
    </section>
</footer>
<!---footer ends-->