/* .btn {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
} */

.btn-nothing {
    color: #fff !important;
    background-color: transparent !important;
    border-color: transparent !important;
}