
      <section>
        <div class="banner-container">
            <div id="banner-slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="banner-slider-image-2" style="background: url(../../../assets/images/about-banner.png) no-repeat;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-content-block">
                <div class="container">
                    <div class="d-table">
                        <div class="banner-content-info">
                            <div class="banner-content">
                                <h1 style="padding-top: 40px;">
                                  Make shopping easy !
                                </h1>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </section>
<div class="container-fluid" style="margin-top:60px;">

    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-xl-8">
  
          <div class="card shopping-card">
            <div class="card-body p-4 text-white">
  
              <div class="text-center pt-3 pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                  alt="Check" width="60">
                <h2 class="my-4">Shopping List</h2>
                <button type="button" class="btn btn-danger" style="margin-bottom: 20px;" data-toggle="modal" data-target="#create-list">
                  Add New
             </button>
              </div>

        <ul class="list-group mb-0">
          <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2" *ngFor="let lt of list">
            <div class="d-flex align-items-center">
              <i class="fas fa-shopping-cart fa-lg  text-primary me-3"></i>
              {{ lt.title[0]}}
            </div>

            <div class="d-flex align-items-center">
                <span (click)="editListBtn(lt, lt._id)">
                    <i class="fa fa-pencil text-primary" aria-hidden="true"></i>
                  </span>
      
                  <span title="Remove item" (click)="deleteList(lt._id)" style="margin-left: 30px;">
                    <i class="fas fa-times text-primary"></i>
                  </span>
            </div>


            
          </li>
          
        </ul>
  
            </div>
          </div>
  
        </div>
      </div>
</div>



    <!-- <div class="container py-5 gradient-custom-2">
      
    </div> -->





<!-- edit modal ends -->


<div id="create-list" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title">Create a List</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
      </div>
      <form #listForm="ngForm" (ngSubmit)="saveList()">
      <div class="modal-body ml-3 mr-3 mb-3">
         
          <!-- enter title of the list -->
          <div class="row justify-content-center align-items-center">                    
              <div class="col-xs-12 col-md-12">
                  <label for="title" class="control-label"> List Title</label>
                  <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title" 
                  #titleControl="ngModel" name="title" required/>
                  <span class="help-block" *ngIf="titleControl?.invalid && titleControl.touched" class="text-danger">
                      Title Required
                  </span>    
              </div>         
              </div> 
  
          <div class="row mt-3 justify-content-center align-items-center">
              <div class="col-md-12">
                  <div class="input-group">                            
                      <input type="text" class="form-control" placeholder="enter grocery items" [(ngModel)]="item_title" name="item_title"/>
                      <div class="input-group-btn">
                          <button class="btn btn-primary" type="button" (click)="addList()">
                              <span> <i class="fa fa-plus"></i></span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>       
          <br/>
      
          <div class="row justify-content-center align-items-center" *ngFor="let item of allItems; let i = index" >
              <div class="col-md-10 align-items-center mt-2">
                
                  <span class="list-group-item" style="background: #f26a36 !important;">
                    <input class="form-control" [(ngModel)]="item.item_title" name="item_title[{{i}}]">
                    
                  </span>  
                </div>  

                <div class="col-md-2 align-items-center mt-2">
                  <span class="list-group-item" style="background: #ffffff !important;" (click)="removeList(i)" >
                    <i class="fas fa-times"></i>
                  </span>
                </div>  
          </div>
  
          
      </div>
      <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" (click)="saveList()">Submit</button> -->
          <button type="submit" class="btn btn-default" [disabled]="listForm.invalid" data-bs-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  
  </form>
  
      </div>
  
  </div>
  </div>




      
     