
<!-- <div class="text-center bg-image" style="background-image: url('../../assets/img/shopping-list.jpg');height: 500px;">

        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
          
        </div>
      </div>  -->
<div class="container-fluid" style="margin-top:100px;">

    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
  
          <div class="card mask-custom">
            <div class="card-body p-4 text-white">
  
              <div class="text-center pt-3 pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                  alt="Check" width="60">
                <h2 class="my-4">Shopping List</h2>
                <button type="button" class="btn btn-danger" style="margin-bottom: 20px;" data-bs-toggle="modal" data-bs-target="#create-list">
                  Add New
             </button>
              </div>
<!--   
              <table class="table text-white mb-0">
                <thead>
                  <tr>
                    <th scope="col">List</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="fw-normal" *ngFor="let lt of list">
                    <th>
                      <i
                          class="fas fa-shopping-cart fa-lg text-white me-3"></i>
                      <span class="ms-2 text-dark">{{ lt.title}}</span>
                    </th>
                    
                    <td class="align-middle">
                      <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                          class="fas fa-edit fa-lg text-dark me-3"></i></a>
                      <a href="#!" data-mdb-toggle="tooltip" title="Remove" ><i
                          class="fas fa-trash-alt fa-lg text-dark"></i></a>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
   -->

        <ul class="list-group mb-0">
          <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2" *ngFor="let lt of list">
            <div class="d-flex align-items-center">
              <i class="fas fa-shopping-cart fa-lg  text-primary me-3"></i>
              {{ lt.title}}
            </div>
            <span href="" title="Remove item" (click)="deleteList(lt._id)">
              <i class="fas fa-times text-primary"></i>
            </span>
          </li>
          
        </ul>
  
            </div>
          </div>
  
        </div>
      </div>
</div>



    <!-- <div class="container py-5 gradient-custom-2">
      
    </div> -->





<div id="edit-list" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Create a List</h3>
        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
        
    </div>
    <form #listForm="ngForm" (ngSubmit)="saveList()">
    <div class="modal-body">
       
        <!-- enter title of the list -->
        <div class="row">                    
            <div class="col-xs-12 col-md-10">
                <label for="title" class="control-label"> List Title</label>
                <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title" 
                #titleControl="ngModel" name="title" required/>
                <span class="help-block" *ngIf="titleControl?.invalid && titleControl.touched" class="text-danger">
                    Title Required
                </span>    
            </div>

                         
            </div> 

        <div class="row mt-3">
            <div class="col-xs-10 col-md-10">
                <div class="input-group">                            
                    <input type="text" class="form-control" placeholder="enter grocery items" [(ngModel)]="item_title" name="item_title"/>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="button" (click)="addList()">
                            <span> <i class="fa fa-plus"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
        <br/>
    
        <div class="row">
            <div class="col-md-10">
                <ul class="list-group">
                    <li *ngFor="let item of allItems" class="list-group-item">
                        <span> {{ item.item_title }} </span>
                    </li>
                </ul>
            </div>        
        </div>

        
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" (click)="saveList()">Submit</button> -->
        <button type="submit" class="btn btn-default" [disabled]="listForm.invalid" data-bs-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    </div>

</form>

    </div>

</div>
</div>
<!-- edit modal ends -->


<div id="create-list" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title">Create a List</h3>
          <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
          
      </div>
      <form #listForm="ngForm" (ngSubmit)="saveList()">
      <div class="modal-body">
         
          <!-- enter title of the list -->
          <div class="row">                    
              <div class="col-xs-12 col-md-10">
                  <label for="title" class="control-label"> List Title</label>
                  <input type="text" class="form-control" placeholder="Title" [(ngModel)]="title" 
                  #titleControl="ngModel" name="title" required/>
                  <span class="help-block" *ngIf="titleControl?.invalid && titleControl.touched" class="text-danger">
                      Title Required
                  </span>    
              </div>         
              </div> 
  
          <div class="row mt-3">
              <div class="col-xs-10 col-md-10">
                  <div class="input-group">                            
                      <input type="text" class="form-control" placeholder="enter grocery items" [(ngModel)]="item_title" name="item_title"/>
                      <div class="input-group-btn">
                          <button class="btn btn-primary" type="button" (click)="addList()">
                              <span> <i class="fa fa-plus"></i></span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>       
          <br/>
      
          <div class="row">
              <div class="col-md-10">
                  <ul class="list-group">
                      <li *ngFor="let item of allItems" class="list-group-item">
                          <span> {{ item.item_title }} </span>
                      </li>
                  </ul>
              </div>        
          </div>
  
          
      </div>
      <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" (click)="saveList()">Submit</button> -->
          <button type="submit" class="btn btn-default" [disabled]="listForm.invalid" data-bs-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
      </div>
  
  </form>
  
      </div>
  
  </div>
  </div>




      
     