<!--Banner section starts-->

<section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image-2" style="background: url(../../../assets/images/about-banner.png) no-repeat;">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1 style="padding-top: 40px;">Reach us for our recipes and be a member </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="xs_section">
    <div class="container mt-5">

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h2 class="text-uppercase mt-5">Get in Touch with us</h2>
                <hr>
                <div class="row contact_row">
                    <div class="col-md-1">
                        <img class="icon-contact" src="../../../assets/images/icons/call.svg">
                    </div>
                    <div class="col-md-9">
                        <h3 class="contact_text">+ 1 004 167 5811</h3>
                    </div>
                </div>
                <div class="row contact_row">
                    <div class="col-md-1">
                        <img class="icon-contact" src="../../../assets/images/icons/message.svg">
                    </div>
                    <div class="col-md-9">
                        <h3 class="contact_text"> info@recipeforyou.com</h3>
                    </div>
                </div>
                <div class="row contact_row">
                    <div class="col-md-1">
                        <img class="icon-contact" src="../../../assets/images/icons/location.svg">
                    </div>
                    <div class="col-md-9">
                        <h3 class="contact_text">Waterloo, Canada</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <form action="#">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="Phone">Phone:</label>
                        <input type="tel" class="form-control" id="phone">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" id="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default btn-contact">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>