<div class="modal-dialog modal-lg">
    <form id="recipe-add-form">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">New Recipe</h3>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="bd-example-snippet bd-code-snippet">
                    <div class="bd-example">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" #title="ngModel" [(ngModel)]="recipe.title" name="title" required>
                                <div *ngIf="title.invalid && title.touched" class="alert">
                                    <div *ngIf="title.errors?.['required']" style="color: #ad3700;">
                                        Title is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="rating" class="form-label">Rating</label>
                                <input type="text" class="form-control" id="rating" name="rating" [(ngModel)]="recipe.rating">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="meal_type" class="form-label">Meal Type</label>
                                <select class="form-control form-select form-select-lg mb-3" [(ngModel)]="recipe.meal_type" name="meal_type" id="meal_type" #meal_type="ngModel">
                                    <option [value]="null" disabled>Select category</option>
                                    <option *ngFor="let meal of mealTypes" [value]="meal.key" style="color:black;">{{meal.key}}</option>
                                  </select>
                                <!-- <input type="text" class="form-control" id="meal_type" #meal_type="ngModel" [(ngModel)]="recipe.meal_type" name="meal_type" required> -->
                                <div *ngIf="meal_type.invalid && meal_type.touched" class="alert">
                                    <div *ngIf="meal_type.errors?.['required']" style="color: #ad3700;">
                                        Meal Type is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="category" class="form-label">Category</label>
                                <select class="form-control form-select form-select-lg mb-3" [(ngModel)]="recipe.category" name="category">
                                    <option [value]="null" disabled>Select category</option>
                                    <option *ngFor="let category of categories" [value]="category.key" style="color:black;">{{category.key}}</option>
                                  </select>
                                <!-- <div class="dropdown">
                                    <button class="form-control btn btn-default btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ced4da !important;
                                    background-color: white !important;
                                    border-color: #ced4da !important;">
                                </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuCategory" *ngFor="let category of categories; index as i;">
                                        <input type="button" [(ngModel)]="recipe.category" name="category" [value] ="category.key">
                                        <a class="dropdown-item" [(ngModel)]="recipe.category" name="category">{{categories.key}}</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="preparation_time" class="form-label">Preparation Time</label>
                                <input type="text" class="form-control" id="preparation_time" [(ngModel)]="recipe.preparation_time" name="preparation_time">
                            </div>
                            <div class="col-md-6">
                                <label for="image_url" class="form-label">Image</label>
                                <div class="row">
                                    <input type="text" class="col-md-7 form-control" id="image_url" [(ngModel)]="recipe.image_url" name="image_url" style="margin-left: 15px;">
                                    <button type="button" class="col-md-4 btn btn-primary">choose file</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="description" class="form-label">Description</label>
                                <textarea type="text" class="form-control" id="description" [(ngModel)]="recipe.description" name="description"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="approved" [(ngModel)]="recipe.approved" required name="approved">
                                    <label class="form-check-label" for="approved"> Is approved </label>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-11">
                                <h4><b>Ingredients</b></h4>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-plus-square fa-2xl" aria-hidden="true" (click)="addIngredient()"></i></div>
                        </div>

                        <div class="row" *ngFor="let ingredient of recipe.ingredients; index as i;">
                            <div class="col-md-6 ">
                                <label for="ingredient_name " class="form-label ">Name</label>
                                <input type="text " class="form-control " id="ingredient_name " [(ngModel)]="ingredient.ingredient_name" name="ingredient_name[{{i}}]">
                            </div>
                            <div class="col-md-6 ">
                                <label for="quantity " class="form-label ">Quantity</label>
                                <input type="text " class="form-control " id="quantity " [(ngModel)]="ingredient.quantity" name="quantity[{{i}}]">
                            </div>
                        </div>
                        <hr/>
                        <h4><b>Nutritions</b></h4>
                        <div class="row ">
                            <div class="col-md-4 ">
                                <label for="calories " class="form-label ">Calories</label>
                                <input type="text " class="form-control " id="calories " [(ngModel)]="recipe.nutritions.calories" name="calories ">
                            </div>
                            <div class="col-md-4 ">
                                <label for="fat " class="form-label ">Fat</label>
                                <input type="text " class="form-control " id="fat " [(ngModel)]="recipe.nutritions.fat" name="fat ">
                            </div>
                            <div class="col-md-4 ">
                                <label for="carbs " class="form-label ">Carbs</label>
                                <input type="text " class="form-control " id="carbs " [(ngModel)]="recipe.nutritions.carbs" name="carbs ">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-4 ">
                                <label for="protein " class="form-label "> Protein</label>
                                <input type="text " class="form-control " id="protein " [(ngModel)]="recipe.nutritions.protein" name="protein ">
                            </div>
                            <div class="col-md-4 ">
                                <label for="cholesterol " class="form-label ">Cholesterol</label>
                                <input type="text " class="form-control " id="cholesterol " [(ngModel)]="recipe.nutritions.cholesterol" name="cholesterol ">
                            </div>
                            <div class="col-md-4 ">
                                <label for="sodium " class="form-label ">Sodium</label>
                                <input type="text " class="form-control " id="sodium " [(ngModel)]="recipe.nutritions.sodium" name="sodium ">
                            </div>
                        </div>

                        <hr/>
                        <div class="row">
                            <div class="col-md-11">
                                <h4><b>Preparation Steps</b></h4>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-plus-square fa-2xl" aria-hidden="true" (click)="addDirection()"></i></div>
                        </div>

                        <div class="row" *ngFor="let direction of recipe.directions; index as i;">
                            <div class="col-md-12">
                                <label for="step" class="form-label">Step</label>
                                <input type="text" class="form-control" id="step" [(ngModel)]="recipe.directions[i]" name="step[{{i}}]">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button " class="btn btn-primary" (click)="saveRecipe(recipe)">Save changes</button>
            </div>
        </div>
    </form>
</div>