<section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image-2" style="background: url(../../../assets/images/about-banner.png) no-repeat;">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1 style="padding-top: 40px;">
                                Registered Dietitians & Nutritionists 
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" style="margin-top:60px; margin-bottom: 60px;">
    <div class="row mt-5  justify-content-center align-items-center">
        <div class="col-md-6">
            </div>
        <div class="col-md-6">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for any keyword...">
        </div>
    </div>

    <div class="row mt-5 ">
        <div class="col-md-6" *ngFor="let data of nutritionists | paginate: { itemsPerPage: count, currentPage: current_page } | filter:searchText" >
            <!-- <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title text-uppercase"> Dr. {{ data.first_name}} {{ data.last_name}}</h5>
                </div>
                <div class="card-body" style="background: #343a40 !important; color: #ffffff;">
                      <h5 class="card-title text-white text-uppercase"> Dr. {{ data.first_name}} {{ data.last_name}}</h5>
                      <hr>
                      <p class="card-text text-white text-uppercase font-weight-bold"> {{ data.designation}}</p>
                      <p class="card-text text-white">Email: {{ data.email }}</p>
                      <p class="card-text text-white text-capitalize">Address: {{ data.address }}, {{ data.city }}, {{ data.pincode }}</p>
                     
                    </div>
              </div> -->

              <div class="card mb-3">
                <div class="card-header" style="background: #78051a !important; color: #ffffff;">
                    <h5 class="card-title  text-white text-uppercase"> Dr. {{ data.first_name}} {{ data.last_name}}</h5>
                </div>
                <div class="card-body" >
                      <!-- <h5 class="card-title text-uppercase"> Dr. {{ data.first_name}} {{ data.last_name}}</h5>
                      <hr> -->
                      <p class="card-text text-uppercase  text-dark font-weight-bold"> {{ data.designation}}</p>
                      <p class="card-text text-dark">Email: {{ data.email }}</p>
                      <p class="card-text  text-dark text-capitalize">Address: {{ data.address }}, {{ data.city }}, {{ data.pincode }}</p>
                     
                    </div>
              </div>
        </div>
    </div>

    <div class="text-right">
        <pagination-controls (pageChange)="current_page = $event"></pagination-controls>
      </div>
    
    
</div>

