<section>
    <div class="container user-profile py-5 h-100" style="margin-top: 70px;">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-12 mb-6 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;background-image:url('../../assets/images/apple.png');">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h3>Profile Information</h3>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <!-- <div class="col-6 mb-3">
                      <h5>Id</h5>
                      <h4>{{id}}</h4>
                    </div> -->
                                    <!-- <div class="col-6 mb-3">
                        <h4>Name: </h4>
                        <h3>{{first_name}} {{last_name}}</h3>
                      </div> -->
                                    <div class="col-6 mb-3">
                                        <label>First Name:</label>
                                        <p>{{user.first_name}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label>Last Name:</label>
                                        <p>{{user.last_name}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label>Email:</label>
                                        <p>{{user.email}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label>Gender:</label>
                                        <p>{{user.gender}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label>Height: </label>
                                        <p>{{user.height}} cm</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label>Weight: </label>
                                        <p>{{user.weight}} Kg</p>
                                    </div>
                                    <div class="col-6 mb-3" *ngIf="user.BMI">
                                        <label>BMI: </label>
                                        <p>{{user.BMI}} kg/m2</p>
                                    </div>
                                    <div class="col-6 mb-3" *ngIf="user.BMI"></div>
                                    <div class="col-6 mb-3">
                                        <a class="btn" href="/user/customer-useredit/{{id}}">Edit User Details</a>
                                    </div>
                                </div>
                                <!-- <button type="button" style="margin-bottom: 20px;height: 30px;font-size: small;background-color: #f26a36;
                  border: 1px solid #f26a36;color: white;" data-bs-toggle="modal" data-bs-target="#create-list">
                    Edit Profile
               </button> -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>