<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{id}}</td>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{email}}</td>
            <td>{{password}}</td>
            <td>{{height}}</td>
            <td>{{weight}}</td>
        </tr>
    </tbody>
</table>
