<div class="container-xxl">
    <div class="text-right">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-recipe" (click)="addNewRecipeBtn()">
            ADD ReCIPE
        </button>
    </div>
    <div style="overflow: auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Id</th>
                    <th rowspan="4">Title</th>
                    <!-- <th rowspan="2">Description</th> -->
                    <th rowspan="4">Meal Type</th>
                    <th rowspan="4">Category</th>
                    <th rowspan="2">Rating</th>
                    <th rowspan="2">Preparation Time</th>
                    <th rowspan="2">Status</th>
                    <th colspan="6">Nutritions</th>
                    <!-- <th rowspan="2">Ingredients</th>
                    <th rowspan="2">Directions</th> -->
                    <th rowspan="2" colspan="2">Actions</th>
                </tr>
                <tr>
                    <th scope="col">Calories</th>
                    <th scope="col">Fat</th>
                    <th scope="col">Carbs</th>
                    <th scope="col">Protein</th>
                    <th scope="col">Cholesterol</th>
                    <th scope="col">Sodium</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipe of recipes | paginate: { itemsPerPage: count, currentPage: current_page } ">
                    <td>
                        <img src={{recipe?.image_url}} class="img-fluid img-thumbnail" alt="recipe" width="50">
                    </td>
                    <td id="recipe_title"><a routerLink="/user/recipe/{{recipe?._id}}">{{recipe?.title}}</a></td>
                    <!-- <td>{{recipe?.description}}</td> -->
                    <td>{{recipe?.meal_type}}</td>
                    <td>{{recipe?.category}}</td>
                    <td>{{recipe?.rating}}</td>
                    <td>{{recipe?.preparation_time}}</td>
                    <td>
                        <span *ngIf="recipe.approved; else elseBlock"> Approved </span>
                        <ng-template #elseBlock>Pending</ng-template>
                    </td>
                    <td>{{recipe?.nutritions?.calories}}</td>
                    <td>{{recipe?.nutritions?.fat}}</td>
                    <td>{{recipe?.nutritions?.carbs}}</td>
                    <td>{{recipe?.nutritions?.protein}}</td>
                    <td>{{recipe?.nutritions?.cholesterol}}</td>
                    <td>{{recipe?.nutritions?.sodium}}</td>
                    <!-- <td>
                        <li *ngFor="let ingredient of recipe.ingredients;">
                            <span>{{ingredient?.ingredient_name}}</span>
                            <span>&nbsp;({{ingredient?.quantity}})</span>
                        </li>
                    </td>
                    <td>
                        <li *ngFor="let direction of recipe.directions;">
                            <span>{{direction}}</span>
                        </li>
                    </td> -->
                    <td><button (click)="editRecipeBtn(recipe._id)" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                    <td><button (click)="deleteRecipe(recipe._id)" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <pagination-controls (pageChange)="current_page = $event"></pagination-controls>
    </div>

    <div class="modal fade bd-example-modal-lg" id="add-recipe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <app-recipe-save [recipe_id]='selected_recipe_id' (newItemSavedEvent)="refreshList($event)" (closeModalEvent)="closeModal($event)"></app-recipe-save>
    </div>
</div>