table {
    margin-top: 30px;
}

i {
    color: #ad3700 !important;
    background-color: none !important;
}

td button {
    border: none !important;
    background-color: none !important;
}

button {
    border: none !important;
    background-color: none !important;
}

.btn {
    color: #fff !important;
    background-color: #ad3700 !important;
    border-color: #ad3700 !important;
}