<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-recipe">
        ADD
    </button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Rating</th>
                <th scope="col">Preparation Time</th>
                <th scope="col">Status</th>
                <th scope="col">Ingredients</th>
                <th scope="col">Directions</th>
                <th scope="col">Nutritions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade bd-example-modal-lg" id="add-recipe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <app-recipe-save></app-recipe-save>
    </div>
</div>