table {
    margin-top: 30px;
}


/* i {
    color: #ad3700 !important;
    background-color: none !important;
}

td button {
    border: none !important;
    background-color: none !important;
}

button {
    border: none !important;
    background-color: none !important;
}
.btn {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
} */

#recipe_title a {
    text-decoration: none;
    color: black;
}