/* .banner-slider-image {
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))!important;
} */


/* .background-shade {
    background: rgba(39, 62, 84, 0.82);
    overflow: hidden;
} */

.banner-content-block {
    background: rgba(0, 0, 0, 0.5);
}

section {
    padding: 0px 0px 80px 0px;
}