<script>
    $('.carousel').carousel({
        interval: 1000
    })
</script>
<section>
    <div class="banner-container">
        <div id="banner-slider" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner-slider-image" style="background: url(../../assets/images/banner2.jpg) no-repeat;">
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="banner-slider-image" style="background: url(../../assets/images/banner3.jpg) no-repeat;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="banner-slider-image" style="background: url(../../assets/images/banner4.jpg) no-repeat;"></div>
                </div>
                <div class="carousel-item">
                    <div class="banner-slider-image" style="background: url(../../assets/images/banner1.jpg) no-repeat;"></div>
                </div>
                <a class="carousel-control-prev" href="#banner-slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#banner-slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>

        </div>
        <div class="banner-content-block">
            <div class="container">
                <div class="d-table">
                    <div class="banner-content-info">
                        <div class="banner-content">
                            <h1>Your diet is a bank account. Good food choices are good investments.</h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Banner section Ends-->

<section>
    <div class="container">
        <div class="container">
            <!--Why choose us section starts-->
            <div class="why-choose-section">
                <h3 class="text-uppercase mb-3 text-center">Why Choose Us?</h3>
                <p class="text-text fw-sbold  text-center"><span class="heading_span">Let's try new healthy recipe's</span></p>
                <div class="why-choose">
                    <div class="row">
                        <div class="col-md-12 mb-12 mb-md-0">
                            <p class="shape-name">
                                This app helps health-conscious foodaholic to stay up to date on food trends, reminds, better dietary practices.This app also assists to search for gluten-free, vegan, and organic options when looking for healthy cooking items.Calorie count matters!!
                                So we are here helping you to track your daily calorie count and turn you into a more conscious eater.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="doodlebanner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12">
                        <img src="../../../assets/images/recipeone.png" style="width: 350px;" />
                    </div>
                    <div class="col-lg-8 col-md-6 col-xs-12 verticalcenter">
                        <h3 class="mb-3">A Healthy food is all we need</h3>
                        <p>This app helps health-conscious foodaholic to stay up to date on food trends, reminds, better dietary practices.This app also assists to search for gluten-free, vegan, and organic options when looking for healthy cooking items.Calorie
                            count matters!!
                            <br> So we are here helping you to track your daily calorie count and turn you into a more conscious eater.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- <hr class="mb-5 mt-0"> -->
        <!--Why choose us section Ends-->
        <!---Hand Picked Categories Starts-->
        <div class="hand-picked-product-section">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-uppercase">Recipe's hand picked</h3>
                </div>
                <div class="col-md-6 text-right d-none d-md-block">
                    <div class="btn-group">
                        <!-- <button id="btnGroupDrop1" type="button" aria-haspopup="true" aria-expanded="false"
                                data-toggle="dropdown"
                                class="btn-border fs-10 fw-bold dropdown-toggle btn btn-secondary">
                                View All
                            </button> -->
                        <div tabindex="-1" role="menu" aria-hidden="false" class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">
                                View All
                            </button>
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">Veg</button>
                            <button type="button" tabindex="0" role="menuitem" class="dropdown-item">Non
                                Veg</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-slider-block">
                <div class="row">
                    <div class="col-md-3" *ngFor="let recipe of recipes | slice:8:12">
                        <a routerLink="/user/recipe/{{recipe?._id}}">
                            <div class="product-card">
                                <div class="product-image" style="background-image: url({{recipe?.image_url}});">
                                    <button class="fav btn btn-nothing"><img src="../../assets/images/favourite.png"
                                            alt="Fav"></button>
                                </div>
                                <div class="product-body">
                                    <h6 class="mb-1 fw-bold">{{recipe?.title}}</h6>
                                    <p class="text-text mb-2 fs-13">
                                        <!-- <span class="unhover-span">
                                            <span class="text-primary fw-sbold">Price : </span> $35.99
                                        </span> -->
                                    </p>
                                    <p class="mb-0 unhover-span">
                                        <span class="float-right">
                                            <img class="ml-1" src="../../assets/images/veg.svg" alt="Veg" *ngIf="recipe?.meal_type==='Vegetarian'">
                                            <img class="ml-1" src="../../assets/images/non-veg.svg" alt="Non Veg" *ngIf="recipe?.meal_type==='Non_Vegetarian'">
                                        </span>
                                        <span class="rating orange">
                                            <img class="mr-1 mt--3px" src="../../assets/images/star.svg" alt="Veg">
                                            {{recipe?.rating}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!---Hand Picked Categories Ends-->
        <hr class="mb-5 mt-0">
        <!--Trending Packages Starts-->
        <div>
            <h3 class="text-uppercase">Recipe For the day</h3>
            <app-random-recipe></app-random-recipe>
        </div>
        <hr class="mb-5 mt-0">
        <hr>
        <div class="events-package-section">
            <h3 class="text-uppercase">Gallery</h3>
            <div class="row px-2">
                <div class="col-md-4 col-lg-3 col-sm-6 px-2">
                    <div class="package" style="background-image: url(&quot;../../assets/images/food1.jpg&quot;);">
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 px-2">
                    <div class="package" style="background-image: url(&quot;../../assets/images/food2.jpg&quot;);">

                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 px-2">
                    <div class="package" style="background-image: url(&quot;../../assets/images/food3.jpg&quot;);">

                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 px-2">
                    <div class="package" style="background-image: url(&quot;../../assets/images/food4.jpg&quot;);">

                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 px-2">
                    <div class="package" style="background-image: url(&quot;../../assets/images/food5.jpg&quot;);">

                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 px-2">
                    <div class="package" style="background-image: url(&quot;../../assets/images/food6.jpg&quot;);">

                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 px-2">
                    <div class="package" style="background-image: url(&quot;../../assets/images/food7.jpg&quot;);">

                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-sm-6 px-2">
                    <div class="package" style="background-image: url(&quot;../../assets/images/food8.jpg&quot;);">

                    </div>
                </div>

            </div>
        </div>
        <!---Event Package Ends-->
    </div>
    <br><br><br>
</section>